:root {
  --neutral-color-100: #ffffff;
  --neutral-color-90: #e8ebef;
  --neutral-color-60: #8f9db3;
  --neutral-color-50: #374151;

  --primary-color-90: #ff8c72;
  --primary-color-50: #ff5c36;
  --primary-color-30: #ff4217;

  --success-color-50: #198754;
  --info-color-50: #0dcaf0;
  --warning-color-50: #ffc107;
  --danger-color-50: #dc3545;

  --mobile-breakpoint: 768px;
}
