@import "../../styles/2-tools";

.main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  max-width: 768px;
  height: 100%;
  padding: 1rem 2rem;

  > .title {
    margin: 0 auto 1rem;
    color: var(--primary-color-50);
  }

  > .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
  }

  > .footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    width: 100%;
  }

  @include mobile-screen {
    > .content {
      gap: 1rem;
    }

    > .footer {
      flex-direction: column;
      margin-top: auto;

      > .action-button {
        width: 100%;
        padding: 0.5rem;
      }
    }
  }
}
