.main-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 768px;
  padding: 1rem 2rem;

  > .title {
    margin: auto auto 1rem;
    color: var(--primary-color-50);
  }

  > fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    width: 100%;
  }
}
